# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/

# Jupyter
*.ipynb_checkpoints
.ipynb_checkpoints/

# Logs / temp
*.log
*.tmp
tmp/
.cache/
.mypy_cache/
.pytest_cache/

# Build
build/
dist/
site/

# Data (don’t version large/raw data)
data/raw/
data/interim/
data/external/
data/temp/

# Genomics big/binary files (use Git LFS if needed)
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.bai
*.cram
*.vcf
*.vcf.gz
*.bcf
*.gtf
*.gff
*.gff3
*.fa
*.fasta
*.fna
*.fa.gz
*.fasta.gz
*.idx
*.bw
*.bed
*.bed.gz

# Notebooks outputs (optional—keep if outputs are huge)
**/.ipynb_checkpoints/
models/model_panel5k_quantile_svm_isotonic.joblib
